### Imports

In [22]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [23]:
website = 'https://www.olx.com.pk/items/q-laptop-core-i5'

#### Get Request

In [24]:
response = requests.get(website)

#### Status Code

In [25]:
response.status_code

200

### Soup Object

In [26]:
soup = BeautifulSoup(response.content, 'html.parser')

### Results

In [27]:
results = soup.find_all('article', {'class' : '_7e3920c1'})

In [28]:
len(results)

20

### Target necessary data

In [17]:
# Name
# Mileage
# Dealer Name
# Rating
# Rating Count
# Price

#### Name

In [29]:
results[0].find('div').get_text()

'\n\n\nFeatured'

####  Name

In [30]:
results[0].find('div', {'class':'a5112ca8 _5fdf4379'}).get_text().strip()

'Dell Latitude E7440  Laptop Core i5-4300 4GB 256SSD Fattani computers'

#### Area,location ,etc

In [31]:
results[0].find('div', {'class':'e48cb10f'}).get_text()

'Gulshan-e-Iqbal Town, Karachi•4 weeks ago'

#### Price

In [32]:
results[0].find('div', {'_1075545d _52497c97 _96d4439a'}).get_text()

'Rs 33,000'

### Put everything together inside a For-Loop

In [33]:
name = []
area_loc_time = []
price = []

for result in results:
    
     # dealer_name
    try:
        area_loc_time.append(result.find('div', {'class':'e48cb10f'}).get_text().strip())
    except:
        area_loc_time.append('n/a')
        
    
    # dealer_name
    try:
        name.append(result.find('div', {'class':'a5112ca8 _5fdf4379'}).get_text().strip())
    except:
        name.append('n/a')
        
    
    #price 
    try:
        price.append(result.find('div', {'class':'_1075545d _52497c97 _96d4439a'}).get_text())
    except:
        price.append('n/a')

### Create Pandas Dataframe

In [46]:
# dictionary
laptops = pd.DataFrame({'Name': name,  'Location':area_loc_time, 'Price': price})

In [47]:
laptops

,Name,Location,Price
0,Dell Core i5 6th Generation Laptop. . Better T...,"Cantt, Lahore•2 weeks ago","Rs 38,000"
1,hp ProBook core i5 7th generation,"DHA Phase 8, Lahore•45 minutes ago","Rs 58,000"
2,Hp core i5 2.40ghz 4gb ram 250gb HDD camera wifi,"Ayub National Park, Rawalpindi•6 days ago","Rs 20,500"
3,HP ELITBOOK 830 G5 CORE i5 8th gen 8GB 256GB S...,"Saddar, Karachi•6 days ago","Rs 68,000"
4,hp g4 840 core i5 7th gen 16gb/512ssd 10/10 fr...,"Gujranwala, Punjab•1 week ago","Rs 62,500"
...,...,...,...
475,HP Elitebook Core i5 8th Gen,"Ghauri Town Phase 4A, Islamabad•2 days ago","Rs 90,000"
476,Fujitsu Core I5 4th generation battery not wor...,"Johar Town Phase 1, Lahore•2 days ago","Rs 13,500"
477,Lenovo X1 Carbon 7th Gen Core i5 Ultra Slim Br...,"Allama Iqbal Town, Lahore•2 days ago","Rs 64,500"
478,Core i5 7th Generation,"Korangi Road, Karachi•2 days ago","Rs 42,000"
479,HP ELITE BOOK 8470 core i5,"Library Chowk, Bahawalpur•2 days ago","Rs 30,000"

#### Data Cleaning

In [48]:
laptops

,Name,Location,Price
0,Dell Core i5 6th Generation Laptop. . Better T...,"Cantt, Lahore•2 weeks ago","Rs 38,000"
1,hp ProBook core i5 7th generation,"DHA Phase 8, Lahore•45 minutes ago","Rs 58,000"
2,Hp core i5 2.40ghz 4gb ram 250gb HDD camera wifi,"Ayub National Park, Rawalpindi•6 days ago","Rs 20,500"
3,HP ELITBOOK 830 G5 CORE i5 8th gen 8GB 256GB S...,"Saddar, Karachi•6 days ago","Rs 68,000"
4,hp g4 840 core i5 7th gen 16gb/512ssd 10/10 fr...,"Gujranwala, Punjab•1 week ago","Rs 62,500"
...,...,...,...
475,HP Elitebook Core i5 8th Gen,"Ghauri Town Phase 4A, Islamabad•2 days ago","Rs 90,000"
476,Fujitsu Core I5 4th generation battery not wor...,"Johar Town Phase 1, Lahore•2 days ago","Rs 13,500"
477,Lenovo X1 Carbon 7th Gen Core i5 Ultra Slim Br...,"Allama Iqbal Town, Lahore•2 days ago","Rs 64,500"
478,Core i5 7th Generation,"Korangi Road, Karachi•2 days ago","Rs 42,000"
479,HP ELITE BOOK 8470 core i5,"Library Chowk, Bahawalpur•2 days ago","Rs 30,000"

### Output in Excel

In [49]:
laptops.to_excel('olx_laptop.xlsx', index=False)

### Part 2 - Pagination

In [50]:
name = []
price = []
area_loc_time = []

for i in range (1,25):
    
    # website in variable
    website = 'https://www.olx.com.pk/items/q-laptop-core-i5?page='+str(i) 
    
    # request to website
    response = requests.get(website)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find_all('article', {'class' : '_7e3920c1'})
    
    # loop through results
    for result in results:
    
        try:
            area_loc_time.append(result.find('div', {'class':'e48cb10f'}).get_text().strip())
        except:
            area_loc_time.append('n/a')
        
    
    # dealer_name
        try:
            name.append(result.find('div', {'class':'a5112ca8 _5fdf4379'}).get_text().strip())
        except:
            name.append('n/a')
        
    
    #price 
        try:
            price.append(result.find('div', {'class':'_1075545d _52497c97 _96d4439a'}).get_text())
        except:
            price.append('n/a')

In [51]:
# dictionary
laptops = pd.DataFrame({'Name': name,'Area_Loc_time':area_loc_time , 'Price': price})

In [52]:
laptops

,Name,Area_Loc_time,Price
0,HP ELITBOOK 830 G5 CORE i5 8th gen 8GB 256GB S...,"Saddar, Karachi•6 days ago","Rs 68,000"
1,"MacBook Pro 2017 13""Ratina Display,Core i5,8GB...","Valencia Town, Lahore•2 weeks ago","Rs 120,000"
2,Lenovo T470 Core i 7 6th Gen Laptop 8GB-256 Ba...,"DHA Phase 5, Karachi•3 weeks ago","Rs 47,999"
3,Dell Core i5 8th generation laptop for sell,"Nowshera Bypass Road, Nowshera•3 days ago","Rs 80,000"
4,Apple imac 2019. . 2017. . 2015. . 2013 core i...,"Gulberg 1, Lahore•2 weeks ago","Rs 190,000"
...,...,...,...
475,Dell core i5 6th generation,"Ghauri Town, Rawalpindi•2 days ago","Rs 48,000"
476,HP 840G3 Slim laptop Core i5 6th Gen 8 GB 128 ...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 51,500"
477,Dell Latitude E5530 10 by 10 Core i5 3nd Gen 4...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 29,999"
478,HP Elitebook Core i5 8th Gen,"Ghauri Town Phase 4A, Islamabad•2 days ago","Rs 90,000"
479,Fujitsu Core I5 4th generation battery not wor...,"Johar Town Phase 1, Lahore•2 days ago","Rs 13,500"

In [53]:
laptops

,Name,Area_Loc_time,Price
0,HP ELITBOOK 830 G5 CORE i5 8th gen 8GB 256GB S...,"Saddar, Karachi•6 days ago","Rs 68,000"
1,"MacBook Pro 2017 13""Ratina Display,Core i5,8GB...","Valencia Town, Lahore•2 weeks ago","Rs 120,000"
2,Lenovo T470 Core i 7 6th Gen Laptop 8GB-256 Ba...,"DHA Phase 5, Karachi•3 weeks ago","Rs 47,999"
3,Dell Core i5 8th generation laptop for sell,"Nowshera Bypass Road, Nowshera•3 days ago","Rs 80,000"
4,Apple imac 2019. . 2017. . 2015. . 2013 core i...,"Gulberg 1, Lahore•2 weeks ago","Rs 190,000"
...,...,...,...
475,Dell core i5 6th generation,"Ghauri Town, Rawalpindi•2 days ago","Rs 48,000"
476,HP 840G3 Slim laptop Core i5 6th Gen 8 GB 128 ...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 51,500"
477,Dell Latitude E5530 10 by 10 Core i5 3nd Gen 4...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 29,999"
478,HP Elitebook Core i5 8th Gen,"Ghauri Town Phase 4A, Islamabad•2 days ago","Rs 90,000"
479,Fujitsu Core I5 4th generation battery not wor...,"Johar Town Phase 1, Lahore•2 days ago","Rs 13,500"

In [54]:
# Split the 'Name_Age' column into 'Name' and 'Age' columns
laptops[['Area', 'City']] = laptops['Area_Loc_time'].str.split(',', 1, expand=True)
laptops[['City', 'time']] = laptops['City'].str.split('•', 1, expand=True)
laptops

,Name,Area_Loc_time,Price,Area,City,time
0,HP ELITBOOK 830 G5 CORE i5 8th gen 8GB 256GB S...,"Saddar, Karachi•6 days ago","Rs 68,000",Saddar,Karachi,6 days ago
1,"MacBook Pro 2017 13""Ratina Display,Core i5,8GB...","Valencia Town, Lahore•2 weeks ago","Rs 120,000",Valencia Town,Lahore,2 weeks ago
2,Lenovo T470 Core i 7 6th Gen Laptop 8GB-256 Ba...,"DHA Phase 5, Karachi•3 weeks ago","Rs 47,999",DHA Phase 5,Karachi,3 weeks ago
3,Dell Core i5 8th generation laptop for sell,"Nowshera Bypass Road, Nowshera•3 days ago","Rs 80,000",Nowshera Bypass Road,Nowshera,3 days ago
4,Apple imac 2019. . 2017. . 2015. . 2013 core i...,"Gulberg 1, Lahore•2 weeks ago","Rs 190,000",Gulberg 1,Lahore,2 weeks ago
...,...,...,...,...,...,...
475,Dell core i5 6th generation,"Ghauri Town, Rawalpindi•2 days ago","Rs 48,000",Ghauri Town,Rawalpindi,2 days ago
476,HP 840G3 Slim laptop Core i5 6th Gen 8 GB 128 ...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 51,500",Punjab Coop Housing - Block F2,Lahore,2 days ago
477,Dell Latitude E5530 10 by 10 Core i5 3nd Gen 4...,"Punjab Coop Housing - Block F2, Lahore•2 days ago","Rs 29,999",Punjab Coop Housing - Block F2,Lahore,2 days ago
478,HP Elitebook Core i5 8th Gen,"Ghauri Town Phase 4A, Islamabad•2 days ago","Rs 90,000",Ghauri Town Phase 4A,Islamabad,2 days ago
479,Fujitsu Core I5 4th generation battery not wor...,"Johar Town Phase 1, Lahore•2 days ago","Rs 13,500",Johar Town Phase 1,Lahore,2 days ago

In [55]:
laptops.to_csv('laptops.csv', index=False)